{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div class="fishing-wrapper">
        <div class="fishing">
            <div class="fishing-content grids">
                <div class="fishing-content-item fishing-item1">
                    <img src="{% static 'images/fishingpage/at05.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Lucky fishing
                    </div>
                </div>
                <div class="fishing-content-item fishing-item2">
                    <img src="{% static 'images/fishingpage/at01.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Oneshot Fishing
                    </div>
                </div>
                <div class="fishing-content-item fishing-item3">
                    <img src="{% static 'images/fishingpage/ab3.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Paradise
                    </div>
                </div>
                <div class="fishing-content-item fishing-item4">
                    <img src="{% static 'images/fishingpage/at04.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Thunder Fighter
                    </div>
                </div>
                <div class="fishing-content-item fishing-item5">
                    <img src="{% static 'images/fishingpage/at06.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Water Margin Fishing
                    </div>
                </div>
                <div class="fishing-content-item fishing-item6">
                    <img src="{% static 'images/fishingpage/7-7003.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Cai Shen Fishing
                    </div>
                </div>
                <div class="fishing-content-item fishing-item7">
                    <img src="{% static 'images/fishingpage/7-7002.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Dragon Fishing 2
                    </div>
                </div>
                <div class="fishing-content-item fishing-item8">
                    <img src="{% static 'images/fishingpage/7-7001.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Dragon Fishing
                    </div>
                </div>
                <div class="fishing-content-item fishing-item9">
                    <img src="{% static 'images/fishingpage/7-7005.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Fishing YiLuFa
                    </div>
                </div>
                <div class="fishing-content-item fishing-item10">
                    <img src="{% static 'images/fishingpage/7-7004.png' %}" class="fishing-item-img" alt="">
                    <div class="fishing-item-title">
                        Five Dragons Fishing
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}