{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="sport-wrapper">
        <div class="sport-content">
            <div class="sport-list">
                <div class="sport-item">
                    <img src="{% static 'images/sportpage/Lobby.png' %}" class="sport-item-cover" alt="">
                    <div class="sport-item-title">
                        Thể thao SBA
                    </div>
                </div>
                <div class="sport-item">
                    <img src="{% static 'images/sportpage/Lobby (1).png' %}" class="sport-item-cover" alt="">
                    <div class="sport-item-title">
                        Thể thao SBA
                    </div>
                </div>
                <div class="sport-item">
                    <img src="{% static 'images/sportpage/Lobby (2).png' %}" class="sport-item-cover" alt="">
                    <div class="sport-item-title">
                        Thể thao SBA
                    </div>
                </div>
                <div class="sport-item">
                    <img src="{% static 'images/sportpage/Lobby (3).png' %}" class="sport-item-cover" alt="">
                    <div class="sport-item-title">
                        Thể thao SBA
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}