{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="games-wrapper">
        <div class="games">
            <div class="games-banner">
                <img src="{% static 'images/gamespage/banner-ameba.png' %}" class="games-banner-img" alt="">
            </div>
            <div class="games-nav">
                <div class="games-tabs">
                    <div class="games-tabs-item">
                        Tất cả
                    </div>
                    <div class="games-tabs-item">
                        Trò chơi mới
                    </div>
                    <div class="games-tabs-item">
                        Nổi bật
                    </div>
                    <div class="games-tabs-item">
                        Yêu thích
                    </div>
                </div>
                <div class="search-bar">
                    <input type="text" placeholder=" Nhập tên game" class="search-games">
                    <i class="fas fa-search m-1"></i>
                </div>
            </div>
            <div class="games-content grids">
                <div class="games-content-item games-item1">
                    <img src="{% static 'images/gamespage/1.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        108 Heroes
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item2">
                    <img src="{% static 'images/gamespage/2.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        888
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item3">
                    <img src="{% static 'images/gamespage/3.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Agent Jane Blonde
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item4">
                    <img src="{% static 'images/gamespage/4.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Alaskan Fishing
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item5">
                    <img src="{% static 'images/gamespage/5.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Big Three Dragon
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item6">
                    <img src="{% static 'images/gamespage/6.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Bikini Chaser
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item7">
                    <img src="{% static 'images/gamespage/7.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Bookie of Odds
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item8">
                    <img src="{% static 'images/gamespage/8.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Break Away
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item9">
                    <img src="{% static 'images/gamespage/9.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Break Away Deluxe
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item10">
                    <img src="{% static 'images/gamespage/10.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Castles Builder2
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item11">
                    <img src="{% static 'images/gamespage/11.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Centre Court
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item12">
                    <img src="{% static 'images/gamespage/12.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Deck the Halls
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item13">
                    <img src="{% static 'images/gamespage/13.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Deco Diamonds
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item14">
                    <img src="{% static 'images/gamespage/14.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Detective Dee2
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item15">
                    <img src="{% static 'images/gamespage/15.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Diamond Crush
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item16">
                    <img src="{% static 'images/gamespage/16.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Disco Night
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item17">
                    <img src="{% static 'images/gamespage/17.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Double Happiness
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item18">
                    <img src="{% static 'images/gamespage/18.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Dragon King
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item19">
                    <img src="{% static 'images/gamespage/19.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Dragon Shard
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item20">
                    <img src="{% static 'images/gamespage/20.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Dragonz
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item21">
                    <img src="{% static 'images/gamespage/21.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Dream Data
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item22">
                    <img src="{% static 'images/gamespage/22.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Eagle's Wings
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item23">
                    <img src="{% static 'images/gamespage/23.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Elements
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>
                <div class="games-content-item games-item24">
                    <img src="{% static 'images/gamespage/24.png' %}" alt="" class="games-item-img">
                    <div class="games-item-title">
                        Emoticoin
                    </div>
                    <div class="game-item-tag-new">

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}